.header{
height: 34vw;
margin: 30px auto;
background: url('./header_img.png') no-repeat;
background-size: contain;
position: relative;
}
.header-constant{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.9w;
    max-width: 50%;
    bottom: 10%;
    left: 6;
}
.header-constant h2 {
    font-weight:500 ;
    color: white;
    font-size: max(4.0vw , 20px);
}
.header-constant p {
    color: white;
    font-size: 1w;
}
.header-constant button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
   background-color: white;
   font-size: max(1vw , 13px);
   border-radius: 50px;

}
@media(max-width :1050px) {
    
    .header-constant {
        max-width: 45%;
    }
}
@media(max-width :750px) {

    .header-constant {
        max-width: 55%;
    }
    .header-constant p {
        display: none;
    }
    .header-constant button {
        padding: 2vw 4vw;
    }
}